.tool{
    background: #4e73df;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.tool-title {
    font-size: 18px;
    font-weight: 500;
}

.tool-delete{
    border: none;
    background: #4262be;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;
}

.tool-delete svg{
    position: absolute;
    top: 5px;
    left: 5px;
}

.tool-header{
    display: flex;
    justify-content: space-between;
}

.tool-uri {
    margin: 10px 0;
}